<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">Upload Spreadsheets</a>
        <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
        >
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/serialnumbers']" routerLinkActive="router-link-active"  >Serial Numbers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/storenames']" routerLinkActive="router-link-active"  >Store Names</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/boxnumbers']" routerLinkActive="router-link-active"  >Box Numbers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/compare']" routerLinkActive="router-link-active"  >Compare</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/response']" routerLinkActive="router-link-active"  >Response Timer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/smartload']" routerLinkActive="router-link-active"  >Smartload Products</a>
            </li>
        </ul>
        </div>
    </div>
</nav>

